* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #374148; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }
  
  .sidebar {
    width: 250px;
    background-color: #232a2f;
    height: 100vh;
    
  }
  
  .sidebar-header h2 {
    margin: 0;
    font-size: 18px;
    color: #fff;
    padding: 15px;
    border-radius: 8px 8px 0 0;
  }
  
  .new-chat-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
  }
  
  
  
  .conversation-list {
    margin-top: 20px;
    columns: #fff;
  }
  
  .conversation-item {
    padding: 10px;
    margin: 10px 0;
    background-color: transparent;
    border: 1px solid #8d8686;
    cursor: pointer;
    color: #ececec;
  }
  
  .conversation-item:hover {
    background-color: #ececec;
  }


  .main-content {
    flex:1;
    background-color: #374148;
    border-radius: 8px;
    max-width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .chatbox-header {
    background-color: #374148;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }
  
  .chatbox-messages {
    flex: 1;
    overflow-y: auto;
    width: 70%;
    flex-direction: column;
    justify-content: center;  /* 水平置中 */
    align-items: center;      /* 垂直置中 */
    gap: 10px;
    padding: 10px;
    margin: 0 auto;

  }
  
  .chatbox-input {
    display: flex;
    margin: 0 auto;
    width: 70%;
    justify-content: center;  /* 水平置中 */
    align-items: center;      /* 垂直置中 */
    padding: 10px;
    border: 1px solid #8d8686;
    border-radius: 4px;

  }
  
  .chatbox-input textarea {
    resize: none !important;
    flex: 1;
    padding: 8px;
    color: #fff;
    border: transparent;
    background-color:transparent;  
    border-radius: 4px;
  }
  
  .chatbox-input button {
    background-color: #333;
    color: white;
    padding: 4px 4px 4px 4px;
    width: 32px;          /* 寬 */
    height: 32px;
    border: none;
    border-radius:50%;
    margin-left: 8px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 1000;
  }
  
  .chatbox-input button:hover {
    background-color: #005fa3;
  }
  
  .message {
    margin-bottom: 10px;
    display: flex;
  }
  
  .message .message-bubble {
    display: inline-block;
    max-width: 75%;
    padding: 10px;
    border-radius: 12px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
  }
  
  
  
  .message .message-bubble.bot {
    background-color: #374148;
    color: white;
    margin-right: auto;
    
  }

  .message .message-bubble.user {
    margin-left: auto;
    background-color: #464343;
    color: white;
    
      
    } 
    
    

 