* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #282323;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .chatbox-container {
    background-color: #fff;
    border-radius: 8px;
    width: 400px;
    max-width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 500px;
  }
  
  .chatbox-header {
    background-color: #374148;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }
  
  .chatbox-messages {
    flex-grow: 1;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }
  
  .chatbox-input {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
  }
  
  .chatbox-input input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .chatbox-input button {
    background-color: #374148;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .chatbox-input button:hover {
    background-color: #005fa3;
  }
  
  .message {
    margin-bottom: 10px;
  }
  
  .message .message-bubble {
    display: inline-block;
    max-width: 75%;
    padding: 10px;
    border-radius: 12px;
    background-color: #f1f1f1;
    margin-bottom: 5px;
  }
  
  .message .message-bubble.user {
    background-color: #374148;
    color: white;
    align-self: flex-end;
  }
  
  .message .message-bubble.bot {
    background-color: #e0e0e0;
    align-self: flex-start;
  }
  